<form [formGroup]="bookForm" (ngSubmit)="saveOrUpdateAndGoToOverview($event)" 
    #bookFormDirective="ngForm" [class.ng-submitted]="bookFormDirective.submitted">
    <!--*ngIf="book$ | async as book"-->
    <div class="form-group row">
        <label for="author" class="col-sm-2 col-form-label">Author:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="author" formControlName="author"> <!-- #authorInput-->
            <div class="invalid-feedback">
                {{getErrorsFor('author')}}
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" formControlName="title">
            <div class="invalid-feedback">
                    {{getErrorsFor('title')}}
            </div>
        </div>
    </div>
    <!-- <button type="button" class="btn btn-primary"
            (click)="notifyOnBookUpdate(authorInput.value, titleInput.value)">Apply</button> -->
    <button type="submit" class="btn btn-primary">Save & Close</button>
</form>